
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

html, body {
    margin: 0;
    padding: 0;
    /* background-color: transparent; */
    /* background-color: #eee; */
    background-color: rgb(241,239,227,1);

    /* background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%); */
    /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
    /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */

    /* background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%); */
    /* background-image: linear-gradient(135deg, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%); */
    /* background: linear-gradient(320deg,#f27121,#e94057,#8a2387); */

    /* font-family: 'Quicksand', sans-serif; */
}

input {
    font-family: 'Nunito', sans-serif;
}

pre, .font-mono {
    font-family: 'Space Mono', monospace;
}

.font-handwriting {
    font-family: 'Kalam', cursive;
}

mark {
    position: relative;
    background-color: transparent;
    color: inherit;
}

mark::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: -1px;
    left: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 2px);
    /* background-color: rgba(255,255,0,1); */
    /* background-color: rgba(255,255,0,.2); */
    background-color: rgba(255,96,128,.2);
    border-radius: 25% / 50%;
}

#root > div {
    background-color: transparent;
}

.screens {
    min-height: 100vh;
    padding-top: 52px;
}
